<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
    <% include partials/rt.ejs %>
      <script type="text/javascript">
        var sessionDurationMillis = <%= event.durationMins %> * 60 * 1000
        var eventId = "<%= event.id %>"
        var s3Bucket = "<%= s3Bucket %>"
        var isLeader = <%= isLeader %>
        var openTokSessionId = "<%= openTokSessionId %>"
        var openTokApiKey = "<%= openTokApiKey %>"
        var openTokToken = "<%= openTokToken %>"
      </script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
      <!--<script type="text/javascript" src="//js.pusher.com/3.1/pusher.min.js"></script>-->
      <script type="text/javascript" src="/js/app.js"></script>
      <script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>


      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css" />
      <link rel="stylesheet" type="text/css" href="/css/app.css" />

</head>

<body>
  <div class="row-sm-4">
    <div class="col-sm-2" style="background-color:red;">
    </div>
    <div class="col-sm-8" style="background-color:blue;">bar</div>
    <div class="col-sm-2" style="background-color:red;">baz</div>
  </div>
  <div class="row-sm-8">
    <div class="col-sm-2" style="background-color:blue;">foo</div>
    <div class="col-sm-8" style="background-color:red;">
      <div id="subscribers"></div>
    </div>
    <div class="col-sm-2" style="background-color:blue;">
      <div id="textchat">
        <p id="history"></p>
        <form id="text-chat">
          <input type="text" placeholder="Input your text here" id="msgTxt"></input>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active">Cameras</li>
            <li data-target="#myCarousel" data-slide-to="1">Documents</li>
            <li data-target="#myCarousel" data-slide-to="2">Upload</li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-sm-3">
                  <a href="#x">
                    <div id="publisher"></div>
                  </a>
                </div>
                <div class="col-sm-3">
                  <a href="#x">
                    <img src="//placehold.it/150x150" alt="Image" class="img-responsive">
                  </a>
                </div>
                <div class="col-sm-3">
                  <a href="#x">
                    <img src="//placehold.it/150x150" alt="Image" class="img-responsive">
                  </a>
                </div>
              </div>
              <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
              <div class="row">
                <div class="col-sm-3">
                  <a href="#x" class="thumbnail"><img src="//placehold.it/150x150" alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3">
                  <a href="#x" class="thumbnail"><img src="//placehold.it/150x150" alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3">
                  <a href="#x" class="thumbnail"><img src="//placehold.it/150x150" alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3">
                  <a href="#x" class="thumbnail"><img src="//placehold.it/150x150" alt="Image" class="img-responsive"></a>
                </div>
              </div>
              <!--/row-->
            </div>
            <!--/item-->
            <div class="item">

              <div id="event-resources-upload">
                <div id="actions" class="row">

                  <div class="col-lg-7">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                      <i class="glyphicon glyphicon-upload"></i>
                      <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                      <span>Cancel upload</span>
                    </button>
                  </div>

                  <div class="col-lg-5">
                    <!-- The global file processing state -->
                    <span class="fileupload-process">
                                  <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                  </div>
                                </span>
                  </div>

                </div>
                <div class="table table-striped" class="files" id="dropzone-previews">
                  <div id="dropzone-template" class="file-row">
                    <!-- This is used as the file preview template -->
                    <div>
                      <span class="dropzone-preview"><img data-dz-thumbnail /></span>
                    </div>
                    <div>
                      <p class="name" data-dz-name></p>
                      <strong class="error text-danger" data-dz-errormessage></strong>
                    </div>
                    <div>
                      <p class="size" data-dz-size></p>
                      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                      </div>
                    </div>
                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>

                    <div>
                      <button class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                      </button>
                      <button data-dz-remove class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


              <!--/row-->
            </div>
            <!--/item-->
          </div>
          <!--/carousel-inner-->
        </div>
        <!--/myCarousel-->
      </div>
    </div>

  </footer>

  <script type="text/javascript" src="/js/openTok.js"></script>
</body>

</html>
