<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
    <% include partials/rt.ejs %>
      <script type="text/javascript">
        var sessionDurationMillis = <%= event.durationMins %> * 60 * 1000
        var eventId = "<%= event.id %>"
        var s3Bucket = "<%= s3Bucket %>"
        var isLeader = <%= isLeader %>
        var openTokSessionId = "<%= openTokSessionId %>"
        var openTokApiKey = "<%= openTokApiKey %>"
        var openTokToken = "<%= openTokToken %>"
      </script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
      <!--<script type="text/javascript" src="//js.pusher.com/3.1/pusher.min.js"></script>-->
      <script type="text/javascript" src="/js/app.js"></script>
      <script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>

      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css" />
      <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>

<body>
  <div class="row-sm-4">
    <div class="col-sm-2" style="background-color:red;">
    </div>
    <div class="col-sm-8" style="background-color:blue;">bar</div>
    <div class="col-sm-2" style="background-color:red;">baz</div>
  </div>
  <div class="row-sm-8">
    <div class="col-sm-2" style="background-color:blue;">foo</div>
    <div class="col-sm-8" style="background-color:red;">
      <div id="subscribers"></div>
    </div>
    <div class="col-sm-2" style="background-color:blue;">
      <div id="textchat">
        <p id="history"></p>
        <form id="text-chat">
          <input type="text" placeholder="Input your text here" id="msgTxt"></input>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="col-sm-10 container-fluid">
      <div class="col-sm-2">
        <a href="#x">
          <div id="publisher"></div>
        </a>
      </div>
      <div class="col-sm-2">
        <a href="#x"> <img src="//placehold.it/150x150" alt="Image" class="img-responsive"> </a>
      </div>
      <div class="col-sm-2">
        <a href="#x"> <img src="//placehold.it/150x150" alt="Image" class="img-responsive"> </a>
      </div>
    </div>
    <div class="col-sm-2 fileinput-thumbnail">
      <a href="#x"> <img src="//placeholdit.imgix.net/~text?txtsize=70&txt=%2B&w=150&h=150" alt="Image" class="img-responsive"> </a>
    </div>

  </footer>

  <script type="text/javascript" src="/js/openTok.js"></script>
</body>

</html>
