<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>


  <script>
  $(function(){highlightHeader('.header-profile')})
  </script>

</head>

<body id="page-top">
 <% include partials/header_collapsed.ejs %>

  <div id="wrap">
    <div class="container m-t-3"></div>
    <div class="container">
			<div class="row m-t-3">
				<div class="col-md-3">
					<h3><%= fullName %></h3>
					<p>sam.j.moorhouse@gmail.com</p>
				</div>
				<div class="col-md-9">
					<!--<div class="panel">
						<div class="panel-heading">
							<h2>User settings</h2>
						</div>
						<div class="panel-body">
						</div>
					</div>--><!-- /.panel -->
					<div class="panel">
						<div class="panel-heading">
							<h2>Verification</h2>
						</div>
						<div class="panel-body">
							<p>We handle your money and so we take security very seriously.</p>
							<p>We never store your account details or verification data on our servers; it all goes straight to our payment provider, who use industry-standard security rules for retention of financial data.</p>
							<p>Sometimes we might ask you for additional information, such as proof of address or identity. This helps us reduce fraud and ensure your money and data is safe.</p>
						<% if((typeof stripeAccountNumber != "undefined") 
						&& (typeof required_fields == "undefined")) { %>
							<div class="alert alert-success">We don't need any more data from you!</div>
						</div>
					</div>
						<% } else { %>
							<div class="alert alert-warning">We need some more details from you!</div>
						</div>
					</div><!-- /.panel -->
					<div class="panel">
						<div class="panel-heading">
							<h2>Bank details</h2>
						</div>
						<div class="panel-body">
							<p>Our payment provider has asked for the following extra information before we can make payments to you.</p>

						<% if(typeof stripeAccountNumber == "undefined") { %>
							<form action="/update_basic_details" method="POST">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-4">
											<input id="first_name" name="first_name" type="text" class="form-control" placeholder="First name"></input>
										</div>
										<div class="col-sm-4">
											<input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last name"></input>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="country" class="form-control-label">Date of Birth</label>
									<div class="row">
										<div class="col-sm-10">
											<input class="form-control" type="date" id="dob" name="dob"></input>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="country" class="form-control-label">Country</label>
									<div class="row">
										<div class="col-sm-10">
											<select id="country" name="country" class="custom-select form-control">
											<% countries.forEach(country => { %>
												<option value=<%= country.a2 %> ><%= country.country_name %> </option>
											<% }) %>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
									<button class="btn btn-lg btn-block btn-success submit" type="submit">Add bank account</button>
									</div>
								</div>
							</form>
						<% } else if (typeof required_fields != "undefined") { /* /if */ %>
							<form action="/update_details" method="POST">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-4">
											<input id="first_name" name="first_name" type="text" class="form-control" placeholder="First name"></input>
										</div>
										<div class="col-sm-4">
											<input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last name"></input>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="country" class="form-control-label">Date of Birth</label>
									<div class="row">
										<div class="col-sm-10">
											<input class="form-control" type="date" id="dob" name="dob"></input>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="country" class="form-control-label">Country</label>
									<div class="row">
										<div class="col-sm-10">
											<select id="country" name="country" class="custom-select form-control">
											<% countries.forEach(country => { %>
												<option value=<%= country.a2 %> ><%= country.country_name %> </option>
											<% }) %>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
									<button class="btn btn-lg btn-block btn-success submit" type="submit">Add bank account</button>
									</div>
								</div>
							</form>
						<% } /* /elseif */ %>
						</div>
					</div>
				<% } /* /if */ %>
				</div>
			</div>
		</div><!-- /.container -->
	</div>
  <% include partials/sitewide_footer.ejs %>

</body>

</html>
