<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<body id="page-top">
  <% include partials/header.ejs %>
  <script>
  var user = <%= user %>
      var eventResources = [
      <% events.forEach(function(event){ %> {
        date: "<%= event.date %>",
        length: "<%= event.length %>",
        client: "<%= event.client %>",
        hourly rate: "<%= event.hourlyrate %>",
        completed: "<%= event.completed %>"
      },
      <%})%>
  </script>


<p>

</body>

</html>
