<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" type="text/css" href="/css/history.css" />

  <% include partials/head.ejs %>
  <script>
    $(function(){highlightHeader('.header-history')})
  </script>
</head>

<body id="page-top">
  <% include partials/header_collapsed.ejs %>
  <div id="wrap">
    <div class="container m-t-3"></div>
    <div class="container">
      <!--<h4>Overview</h4>
      <div class="panel">
        <h3>6</h3>Sessions completed
      </div>-->

      <h4>Session history</h4>
      <div class="panel">

      <% if (events.length > 0) { %>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Client name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Value</th>
                <th>Fee</th>
                <th>Payment status</th>
              </tr>
            </thead>
            <tbody>

              <% events.forEach(function(event){ %>

              <tr>
                <td><%= event.sessionDate.toDateString() %></td>
                <td><%= event.clientName %></td>
                <td><%= event.sessionName %></td>
                <td><%= event.duration %></td>
                <td><%= event.sessionCcy + " " + event.sessionPrice %></td>
                <td>5%</td>
                <td>
                <% if(event.leaderPaid){ %>
                <i class="fa fa-check fa-fw fa-lg payment-status-paid" aria-hidden="true"></i>Paid
                <% } else { %>
                Payment pending
                <% } %>
                </td>
              </tr>

              <% }) %>

            </tbody>
          </table>
        </div> <!-- /.table-responsive -->

      <% } else { %>

        <div class="row">
          <div class="col-lg-12 m-b-0">
            <div class="tile tile-inverse" tabindex="0">
              <div class="media">
                <div class="media-left text-info">
                  <i class="fa  fa-smile-o fa-3x fa-fw tt-icon" aria-hidden="true"></i>
                </div>
                <div class="media-body text-xs-left">
                  <h3 class="h5 m-b-0">You have no historic sessions</h3>
                  <p>Create a new mentoring session and start to make money! <a href="/account/main?modal=1">Set up a new session</a></p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

      <% } %>

      </div>
    </div>
  </div>

  <% include partials/sitewide_footer.ejs %>
</body>
</html>
