<!DOCTYPE html>
<html lang="en" class="loading">

<head>
  <% include partials/head.ejs %>

  <script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>
    
  <script>
    var sessionName = "<%= sessionName %>"
    var sessionId = "<%= sessionId %>"
    var openTokApiKey = "<%= openTokApiKey %>"
    var openTokSessionId = "<%= openTokSessionId %>"
    var openTokToken = "<%= openTokToken %>"
    var isLeader = "<%= isLeader %>"
  </script>

  <script src="/js/opentok.js" charset="utf-8"></script>
</head>

<body id="page-top">
 <% include partials/header_session.ejs %>

  <div class="fill session" id="subscribers">
    <div class="container text-center">
      <div class="jumbotron vertical-center">
        <h1><%= sessionName %></h1> 
        <p>You're the only person here right now.</p> 
      </div>
    </div>
  </div>
  <div id="publisher"></div>

 <% include partials/footer.ejs %>

</body>

</html>
